body {
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: column;
}
h1 {
  align-self: center;
}
.calculator-body {
  width: 300px;
  height: fit-content;
  border: 1px solid black;
  background-color: black;
  border-radius: 16px;
  align-self: center;
  padding: 10px;

  display: flex;
  flex-direction: column;
}
.display {
  border: 1px solid black;
  background-color: white;
  margin-bottom: 10px;
  padding: 10px;
  height: 50px;
  border-radius: 1px;

  /* made the numbers come from right to left */

  direction: rtl;

  font-size: 30px;
  display: flex;
  flex-wrap: wrap;
}
.buttons-container {
  /* border: 1px solid green; */

  display: flex;
  flex-wrap: wrap;
  gap: 1px;
}
button {
  width: 70px;
  height: 60px;
  font-size: 20px;
  flex-grow: 1;
  /* border-radius: 1px; */
}
.zero-button {
  flex-grow: 20;
}
