body {
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: column;
}
h1 {
  align-self: center;
}
.calculator-body {
  width: 300px;
  height: fit-content;

  background-color: rgba(24, 23, 23, 0.545);
  border-radius: 10px;
  align-self: center;
  padding: 6px;

  display: flex;
  flex-direction: column;
}
.display {
  border: 1px solid black;
  background-color: white;
  margin-bottom: 10px;
  padding: 10px;
  height: 50px;
  border-radius: 1px;

  text-align: right;
  overflow: scroll;

  font-size: 30px;
}
.buttons-container {
  /* border: 1px solid green; */

  display: flex;
  flex-wrap: wrap;
  gap: 1px;
}
button {
  width: 70px;
  height: 60px;
  font-size: 20px;
  flex-grow: 1;


  border: 0;
  background: rgba(0, 0, 0, 0.758); /* Semi-transparent white */
  backdrop-filter: blur(10px);
  cursor: pointer;
  color: white;
}
.operator-buttons{
  background-color: orange;
  color: black;
}
button:hover {
opacity: 0.4;

  transition: 0.3s;
}
.zero-button {
  flex-grow: 20;
}
.plus-button{
  background-image:url(svgs/plus.svg);
  background-repeat: no-repeat;
  background-position-x:center;
  background-position-y:center;
}
.minus-button{
  background-image:url(svgs/minus.svg);
  background-repeat: no-repeat;
  background-position-x:center;
  background-position-y:center;
}
.multiply-button{
  background-image:url(svgs/x.svg);
  background-repeat: no-repeat;
  background-position-x:center;
  background-position-y:center;
}
.divide-button{
  background-image:url(svgs/divide.svg);
  background-repeat: no-repeat;
  background-position-x:center;
  background-position-y:center;
}
.percentage-button{
  background-image:url(svgs/percent.svg);
  background-repeat: no-repeat;
  background-position-x:center;
  background-position-y:center;
}

